@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
.wavy-box {
  --s: 16px;  /* control the size of the wave */
  
  width: round(var(--w),4*var(--s)); 
  /* aspect-ratio: 1; */
  padding: var(--s);
  border: var(--s) solid #0000;
  box-sizing: border-box;
  border-radius: calc(3.5*var(--s)); /* for the image */
  mask: 
    radial-gradient(calc(sqrt(2)*var(--s)),#000 calc(100% - 1px),#0000),
    conic-gradient(#000 0 0) content-box,
    radial-gradient(calc(sqrt(2)*var(--s)),#0000 100%,#000 calc(100% + 1px)) 
     var(--s) var(--s) padding-box;
  mask-size: calc(var(--s)*4) calc(var(--s)*4);
}
}

/* resources/css/app.css */


* {
  font-family: "Onest", sans-serif;
}

.text-green {
    color: #4d563a;
}
.bg-green {
    background-color: #4d563a;
}

.text-green-light {
    color: #818d65;
}

.bg-yellow {
    background-color: #fafafa;
}

.bg-hero {
    background-color: #f5f0d4;
}

.bg-green-light {
    background-color: #818d65;
}

.bg-green-light-transparan{
    background-color: #656e5153;
}

.bg-primary {
    background-color: #e3eaf8;
}

.bg-primary-transparent {
    background-color: #4071ac17;
}

.bg-primary-text {
    background-color: #261d56;
}