.box-skill {
  --mask:
    radial-gradient(41.18px at 50% 56px,#000 99%,#0000 101%) calc(50% - 40px) 0/80px 51% repeat-x,
    radial-gradient(41.18px at 50% -36px,#0000 99%,#000 101%) 50% 20px/80px calc(51% - 20px) repeat-x,
    radial-gradient(41.18px at 50% calc(100% - 56px),#000 99%,#0000 101%) calc(50% - 40px) 100%/80px 51% repeat-x,
    radial-gradient(41.18px at 50% calc(100% + 36px),#0000 99%,#000 101%) 50% calc(100% - 20px)/80px calc(51% - 20px) repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}